@import '../../scss/style.scss';

.header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: $red-0;
    color: $background-0;
    font-weight: 700;
    padding: .75rem .5rem;
    .ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 15%;
        li{
            text-decoration: none;
            list-style-type: none;

            &:not(:last-child){
                padding-right: 1.5rem;
            }

            a{
                text-decoration: none;
                color: $text-0;
            }
        }
    }
    .SearchComponent{
        display: none;
    }
}

@media ( min-width: 600px ) {
    .header{
        padding: .75rem 5vw;
        .SearchComponent{
            display: block;
        }
    }
}